/** @file {{facet_hpp_fname}}
 *
 *  Generated automagically from ingredients:
 *  1. code generator:
 *       [{{genfacet}}]
 *     arguments:
 *       --input [{{genfacet_input}}]
 *  2. jinja2 template for facet .hpp file:
 *       [{{ facet_hpp_j2 }}]
 *  3. idl for facet methods
 *       [{{ idl_fname }}]
 **/

#pragma once

#include "{{impl_hpp_subdir}}/{{abstract_facet_fname}}"
#include "{{impl_hpp_subdir}}/{{iface_facet_any_hpp_fname}}"
#include "{{impl_hpp_subdir}}/{{iface_facet_xfer_hpp_fname}}"
#include "{{impl_hpp_subdir}}/{{router_facet_hpp_fname}}"

{% for include_fname in user_hpp_includes %}
#include {{include_fname}}
{% endfor %}

/* end {{facet_hpp_fname}} */
