# flake.nix builds source in this tree.
# must not commit flake.lock that would need hash from this repo
flake.lock
# clangd working space (see emacs+lsp)
.cache
# typical cmake build directory (source-tree-nephew)
.build*
# symlink to builddir/compile_commands.json;  should be set manually in dev sandbox
compile_commands.json
